<div class="row">
  {{> home/sidebar}}
  <div class="col mt-4">

    <div class="row row-cols-1 row-cols-md-3 g-4" id="postsPage">
      {{#each posts}}
      <div class="col-sm-3" style="margin-bottom:10px;">
        <div class="card h-100">
<img src="https://sparefins.s3.amazonaws.com/{{file}}" onerror="this.src='/images/sparefinsLogo.png';" class="card-img-top" style="object-fit:scale-down;width:100%;height:30vh;">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">By: <a href="profile/{{user.id}}">{{user.firstName}}</a></h6>
            <p class="card-text">{{{body}}}</p>
            <p><small>{{type}}, {{setup}}, {{size}}</small></p>
          </div>
          <div class="card-footer">
            <small><a href="post/{{slug}}" class="btn btn-dark">Read More &rarr;</a></small>
            <small style="float:right;"><button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#sendMessage" onclick="setModalTitle('{{title}}', '{{user.firstName}}')"><i class="fa fa-comment"></i></button></small>
            <!-- Modal -->
            <div class="modal fade" id="sendMessage" tabindex="-1" aria-labelledby="sendMessage" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form id="messageForm" action="/messages/send-message/{{user._id}}/{{slug}}" method="POST">
                    <div class="modal-header">
                      <h2 class="modal-title fs-5" id="sendMessageTitle">Send a message about {{title}}</h2>
                    </div>
                    <div class="modal-body">
                      <textarea id="message" name="message" class="form-control" placeholder="Your message.."></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

<!-- Add the correct title to the "reply to listing" modal -->
<script>
  function setModalTitle(title, firstName) {
    const modalTitle = document.querySelector('#sendMessage .modal-title');
    modalTitle.textContent = `Message ${firstName} about ${title}`;
  }
</script>
          
          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            {{#paginate current=current pages=pages}}{{/paginate}}
          </ul>
          </div>
          </div>
