    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
        <h1 class="mt-4">{{post.title}}</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">{{post.user.firstName}}</a>
          </p>
          
          <!-- Date/Time -->
          <p>Posted on {{generateTime date 'DD MMM YYYY'}}</p>

        <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" style="object-fit:scale-down;width:100%;height:30vh;" {{#if post.file}} src="https://sparefins.s3.amazonaws.com/{{post.file}}" {{else}}src="https://via.placeholder.com/300x50"{{/if}} alt="">

        <hr>

          <!-- Post Content -->
          <p class="lead">{{post.description}}</p>
          <small style="float:right;"><button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#postSendMessage"><i class="fa fa-comment"></i></button></small>
            <!-- Modal -->
            <div class="modal fade" id="postSendMessage" tabindex="-1" aria-labelledby="postSendMessage" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form id="messageForm" action="/messages/send-message/{{post.user._id}}/{{post.slug}}" method="POST">
                    <div class="modal-header">
                      <h3 class="modal-title fs-5" id="sendMessageTitle">Send {{post.user.firstName}} message about {{post.title}}</h3>
                    </div>
                    <div class="modal-body">
                      <textarea id="message" name="message" class="form-control" placeholder="Your message.."></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
