<div class="row">
  <div class="col-lg-2">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img src="https://ui-avatars.com/api/?name={{user.firstName}}+{{user.lastName}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
        <h5 class="my-3">{{user.firstName}} {{user.lastName}}</h5>
        <div class="d-flex justify-content-center mb-2">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="card mb-4 mb-md-0">
      <div class="card-body">
      {{#if posts}}
        <h1 class="card-title">Your Posts</h1>
        <hr>
          <table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
        <tr>
            <td>{{title}}</td>
            <td>{{generateTime date 'DD MMMM YYYY'}}</td>
            <td><a href="/post/{{id}}">View Post</a></td>
            <td><a href="/listings/edit/{{_id}}" class="btn btn-info">Edit</a></td>
            <td><form action="/listings/{{_id}}?_method=DELETE" method="post">
            <button type="submit" class="btn btn-danger">Delete</button></form></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<h2 class="card-title">You don't have any listings</h2>
{{/if}}
      </div>
    </div>
  </div>
</div>
